html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.row {
  height: 75%;
  padding: 0;
  margin: 0;
}

.col-md-12.jumbotron.text-center {
  height: 100%;
  padding: 0;
  margin: 0;
}

#header {
  height:25%;
  line-height: 234.25px;
  margin: auto;
  text-align: center;
  background-color: rgb(203, 135, 236);
}

#title {
  color: black;
  font-size: 100px;
}

#analysis {
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: rgb(203, 135, 236);
  font-size: 30px;
  color: black;
}

